<!DOCTYPE html>
<html>

<head>
  <title> DAB - Adopt Animal</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <script src="/jquery.js"></script>
  <script src="../js/common.js"></script>

</head>

<body>
  <%- include('./partials/navbar.ejs', {user: user}) %>
  <div class="container-fluid mt-5">
    <h2 class="p-3 text-center">Animals for Adoption</h2>
    <div class="list-group">
      <div class="row px-3 py-1 w-100 d-flex">
        <span class="col py-1 bg-light ">
          <a class="btn-sm btn-success d-block text-center text-decoration-none" href='../animals/popularname'>Popular
            Animal Names</a>
        </span>
        <span class="col py-1 bg-light ">
          <a class="btn-sm btn-success d-block text-center text-decoration-none" href='../animals/adopted'>All
            Adoption Details</a>
        </span>
        <span class="col py-1 bg-light ">
          <a class="btn-sm btn-success d-block text-center text-decoration-none" href='../animals/byage'>Animals
            By Age</a>
        </span>
        <span class="col py-1 bg-light ">
          <a href="#" id="searchLink" class="btn-sm btn-success d-block text-center text-decoration-none"> Born In Date
            Range</a>
        </span>
        <%if ( user && user.role===1) {%>
        <span class="col py-1 bg-light ">
          <a class="btn-sm btn-success d-block text-center text-decoration-none" href='../animals/bysize'>Number of
            Animals Per Size</a>
        </span>
        <%}%>
          <span class="col py-1 bg-light ">
            <a class="btn-sm btn-success d-block text-center text-decoration-none" href='../animals/'>All Animals</a>
          </span>
      </div>
      <div id="searchDiv">
        <form id="searchForm" class="d-flex align-items-center justify-content-center">
          <input type="date" name="from" id="from" class="me-2" />
          <input type="date" name="to" id="to" class="me-2" />
          <button type="submit" class="btn btn-outline-secondary">
            Search
          </button>
        </form>
      </div>
      <% if (animals.length>0) {%>
        <div class="row px-3 py-1 w-100">
          <span class="col py-1 bg-noroff">
            <%if(animals[0].count){%>
            Total
            <%} else {%>
            Id
            <%}%>
        </span> 
        <span class="col py-1 bg-noroff">Name</span>
        <span class="col py-1 bg-noroff"><%if(!animals[0].count){%>Species<%}%></span>
        <span class="col py-1 bg-noroff"><%if(!animals[0].count){%>Birthday<%}%></span>
        <span class="col py-1 bg-noroff"><%if(!animals[0].count){%>Temperament<%}%></span>
        <span class="col py-1 bg-noroff"><%if(!animals[0].count){%>Size<%}%></span>
        <span class="col py-1 bg-noroff"><%if(!animals[0].count){%>Age<%}%></span>
        <span class="col py-1 bg-noroff"><%if(!animals[0].count){%>Adopted<%}%></span>
        <span class="col py-1 bg-noroff"><%if(!animals[0].count){%>Options<%}%></span>
      </div>
      
      
        <div id="table">
          <% animals.forEach(function(animal) { %>

            <div class="row px-3 py-1 w-100">
              <span class="col py-1 bg-light ">
                <%=animal.id%>
              </span>
              <span class="col py-1 bg-light">
                <%=animal.Name%>
              </span>
              <span class="col py-1 bg-light">
                <%=animal.SpecieName%>
              </span>
              <span class="col py-1 bg-light" id="BirthDate">
                <%=animal.BirthDate%>
              </span>
              <span class="col py-1 bg-light">
                <%=animal.TemperamentsName%>
              </span>
              <span class="col py-1 bg-light">
                <%=animal.SizeName%>
              </span>
              <span class="col py-1 bg-light">
                <%=animal.Age%>
              </span>
              <span class="col py-1 bg-light">
                <%if (animal.UserId){%>
                true
                <%} else if(!animal.count){%>
                false <%=animal.count%>
                <%}%>
          </span>
          <span class="col py-1 bg-light text-center">
            <%if (!animal.UserId && user && user.role===2 && !animals[0].count) {%>
                <button class="btn-sm btn-warning"
                  onclick='adoptAnimal("<%=animals.url%>","<%=animal.id%>","<%=user.id%>")'>Adopt</button>
                <%}%>
          <%if (animal.UserId && user && user.role===1) {%>
                <button class="btn-sm btn-danger" onclick='deleteAnimal("<%=animals.url%>","<%=animal.id%>")'>Cancel
                  Adoption</button>
                <%}%>
        </span>
      </div>
      <% }); %>
            </div>
            <hr>

            <%}%>
      </div>
    </div>
</body>

</html>